<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Registration confirmation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    body {
      font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;
    }
    a.link {
      border: solid 1px #000;
      background-color: #000;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      display: block;
      width: 360px;
      text-align: center;
      padding: 10px 0;
    }
  </style>
</head>
<body>
  <h1>Loan Cancelled</h1>
  <div>Dear <b th:text="${borrowerName}">name</b>,</div>
  <p>
      you have succesfully cancelled your loan: <b th:text="${loanID}">corporatePassID</b> to <b th:text="${attractionName}">attractionName</b>.
  <br>
  <p>
    Regards, <br />
    &emsp; <em>SSS Corporate Pass System</em>
  </p>
  </body>
</html>